<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link rel='stylesheet' type='text/css' href='/bootstrap/dist/css/bootstrap.css'></link>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="/ace-builds/src-min-noconflict/ace.js"></script>
<script type="text/javascript" src="/angular-ui-ace/ui-ace.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript" src="/b.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="app">
    <navbar></navbar>
    <div class='container'>
    <alert class='alert' type='info'>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4>How it works?</h4>
  <div class='row'>
    <div class='col-sm-6'>
    <strong>Anyone can...</strong>
  <ul>
    <li>Start with some json in Window #1.</li>
    <li>Write the body of your transformation function in Window #2.</li>
    <li>See your results in Window #3</li>
    <li>Publish their transformation function as a gist.</li>
  </ul>
    </div>
    <div class='col-sm-6'>
    <strong>Logged in users can...</strong>
  <ul>
    <li>Copy existing transformations.</li>
    <li>Create their own transformations.</li>
  </ul>
    </div>
  </div>
</alert>
    </div>
    <div id="main" ui-view class='container'></div>
</body>
</html>
