<div class="modal-header">
    <h3 class="modal-title">Create a new Tranformation</h3>
</div>
<div class="modal-body">
  <div class='form'>
    <div class='form-group'>
      <label for='name'>Name</label>
      <input id='name' class='form-control' ng-model='newTransform.name' />
    </div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="create(newTransform)">Save</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
