<section id="transform">
  <div class='row'>
    <div class='col-sm-4'>
      <strong>Input</strong>
    </div>
    <div class='col-sm-4'>
      <strong>Transformer</strong> (function(input){ ... })
    </div>
    <div class='col-sm-4'>
      <strong>Output</strong>
    </div>
  </div>
        <div class='row'>
            <div class='col-sm-4'>
                    <div ui-ace="{
  useWrapMode : true,
  showGutter: false,
  theme:'twilight',
  mode: 'json',
  firstLineNumber: 5,
  onLoad: aceLoaded,
  onChange: aceChanged
}" ng-model='transform.input'></div>
                </div>
            <div class='col-sm-4'>
                    <div ui-ace="{
  useWrapMode : true,
  showGutter: true,
  theme:'twilight',
  mode: 'javascript',
  firstLineNumber: 5,
  onLoad: aceLoaded,
  onChange: aceChanged
}" ng-model='transform.transformer'></div>
                </div>
                <div class='col-sm-4'>
                        <div ui-ace="{
  useWrapMode : true,
  showGutter: false,
  theme:'twilight',
  mode: 'json',
  firstLineNumber: 5,
  onLoad: aceLoaded,
  onChange: aceChanged
}" ng-bind='output'></div>
            </div>
            <div class='row'>
              <div class='col-sm-4'>
                <div class='alert' ng-class="{'alert-success': !jsonParseError, 'alert-danger': jsonParseError}">
                  {{ jsonParseError || "Good JSON!" }}
                
                </div>
              </div>
              <div class='col-sm-4'>
                <div class='alert alert-info'>Foo</div>
              </div>
              <div class='col-sm-4'>
                <div class='alert alert-info'>Foo</div>
              </div>
</section>
