<section id="transform">
  <div class='form'>
    <div class='row'>
      <div class='col-sm-4'>
    <div class='form-group'>
      <label for='input'>Input</label>
      <textarea class='form-control' id='input' ng-model='transform.input' rows='5'></textarea>
    </div>
      </div>
      <div class='col-sm-4'>
    <div class='form-group'>
      <label for='transformer'>Transformer</label>
      <textarea class='form-control' id='transformer' ng-model='transform.transformer' rows='5'></textarea>
    </div>
      </div>
      <div class='col-sm-4'>
    <div class='form-group'>
      <label for='output'>output</label>
      <textarea class='form-control' id='output' ng-bind='output' rows='5'></textarea>
    </div>
      </div>
    </div>
  </div>
</section>
