* {
  box-sizing: border-box;
}

body {
}

.ace_editor { height: 100%; }

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  margin: 0 auto;
}

  .resizable { height: 200px;}
  .resizable{position: relative}
  .editor{position: absolute; top:0;left:0;right:0;bottom:0;}

